* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #444444;
}

#page-header {
  margin: 0 auto;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(195, 245, 121);
}

#logout-button {
  height: 30px;
  width: 80px;
  font-size: 1em;
  font-weight: 400;
}

#page-heading {
  font-size: 3em;
  font-weight: 500;
}

#container {
  margin: 20px auto;
  padding: 0 20px;
  border: 1px solid gray;
  background-color: #dddddd;
  height: 800px;
  border-radius: 10px;
  width: 700px;
  display: flex;
  flex-flow: column;
}

#playlists-heading {
  padding: 10px 0;
  font-size: 3em;
  width: 100%;
  border-bottom: 1px solid #444444;
  font-weight: 300;
  align-self: center;
  text-align: center;
}

#add-button{
  height: 40px;
  width: 40px;
}

#playlist-form {
  display: flex;
  padding: 0 3em;
  gap: 1em;
}

#playlist-input-box {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#playlist-add-button {
  height: 2.5em;
  width: 40px;
  border-radius: 4px;
  font-weight: 300;
}

#playlist-title {
  border: none;
  border: 1px solid grey;
  height: 2.5em;
  width: 20em;
  padding: 0 2em;
  border-radius: 4px;
  font-weight: 200;
}

.playlist {
  width: 80%;
  margin: 16px auto;
  padding: 1em 2em;
  background-color: #aaaaaa;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.playlist:hover {
  cursor: pointer;
}

.playlist > p {
  font-size: 1.5em;
  font-weight: 500;
}

.playlist > input {
  width: 3em;
  height: 3em;
  text-align: center;
}
