* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page-header {
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login {
  text-decoration: none;
  font-size: 2em;
  font-weight: 400;
}

#page-heading {
  font-size: 3em;
  font-weight: 500;
}

#container {
  margin: 80px auto;
  padding: 0 20px;
  background-color: #dddddd;
  height: 75%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  gap: 40px;
  flex-flow: column;
}

#playlist-heading {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

#playlist-heading > h2 {
  font-size: 3em;
  font-weight: 400;
}

#song-add-form {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#song-input-box {
  height: 40px;
  width: 300px;
  padding: 0 10px;
}

#song-submit-button {
  height: 40px;
  width: 80px;
}

.song {
  padding: 5px 40px;
  font-size: 2em;
  font-weight: 300;
}
